#%RAML 0.8
title: Open Weather Facade
version: 1.0-basic
baseUri: http://weather.cloudhub.io/weather
securitySchemes:
  - basic:
      type: Basic Authentication
/{countryCode}/{cityName}:
  uriParameters:
      countryCode:
        description: |
          Country code like AR, IE, UK, US
        example:
          IE
      cityName:
        description: |
          Name of city
        example: |
          Buenos Aires
  /current-weather:
    securedBy: [basic]
    get:
      responses:
        200:
          body:
            application/json: 
              example: |
                {"coord":{"lon":-8.47,"lat":51.9},"sys":{"message":0.0459,"country":"IE","sunrise":1420619969,"sunset":1420648862},"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"base":"cmc stations","main":{"temp":284.759,"temp_min":284.759,"temp_max":284.759,"pressure":1019.93,"sea_level":1022.35,"grnd_level":1019.93,"humidity":92},"wind":{"speed":16.92,"deg":228.5},"clouds":{"all":92},"rain":{"3h":1},"dt":1420638579,"id":2965140,"name":"Cork","cod":200}
  /forecast:
    securedBy: [basic]
    get:
      responses:
        200:
          body:
            application/json: 
              example: |
                {
                  "cod": "200",
                  "message": 0.0028,
                  "city": {
                      "id": 3435910,
                      "name": "Buenos Aires",
                      "coord": {
                          "lon": -58.377232,
                          "lat": -34.613152
                      },
                      "country": "AR",
                      "population": 0,
                      "sys": {
                          "population": 0
                      }
                  },
                  "cnt": 29,
                  "list": [
                      {
                          "dt": 1420632000,
                          "main": {
                              "temp": 297.1,
                              "temp_min": 294.682,
                              "temp_max": 297.1,
                              "pressure": 1023.99,
                              "sea_level": 1025.36,
                              "grnd_level": 1023.99,
                              "humidity": 94,
                              "temp_kf": 2.42
                          },
                          "weather": [
                              {
                                  "id": 500,
                                  "main": "Rain",
                                  "description": "light rain",
                                  "icon": "10d"
                              }
                          ],
                          "clouds": {
                              "all": 92
                          },
                          "wind": {
                              "speed": 5.36,
                              "deg": 115.503
                          },
                          "rain": {
                              "3h": 0.25
                          },
                          "sys": {
                              "pod": "d"
                          },
                          "dt_txt": "2015-01-07 12:00:00"
                      },
                      {
                          "dt": 1420642800,
                          "main": {
                              "temp": 299.4,
                              "temp_min": 297.101,
                              "temp_max": 299.4,
                              "pressure": 1023.64,
                              "sea_level": 1025.11,
                              "grnd_level": 1023.64,
                              "humidity": 91,
                              "temp_kf": 2.3
                          },
                          "weather": [
                              {
                                  "id": 802,
                                  "main": "Clouds",
                                  "description": "scattered clouds",
                                  "icon": "03d"
                              }
                          ],
                          "clouds": {
                              "all": 44
                          },
                          "wind": {
                              "speed": 4.78,
                              "deg": 106.501
                          },
                          "sys": {
                              "pod": "d"
                          },
                          "dt_txt": "2015-01-07 15:00:00"
                      },
                      {
                          "dt": 1420653600,
                          "main": {
                              "temp": 300.36,
                              "temp_min": 298.178,
                              "temp_max": 300.36,
                              "pressure": 1023.21,
                              "sea_level": 1024.63,
                              "grnd_level": 1023.21,
                              "humidity": 83,
                              "temp_kf": 2.18
                          },
                          "weather": [
                              {
                                  "id": 803,
                                  "main": "Clouds",
                                  "description": "broken clouds",
                                  "icon": "04d"
                              }
                          ],
                          "clouds": {
                              "all": 64
                          },
                          "wind": {
                              "speed": 5.92,
                              "deg": 99.5032
                          },
                          "sys": {
                              "pod": "d"
                          },
                          "dt_txt": "2015-01-07 18:00:00"
                      },
                      {
                          "dt": 1420664400,
                          "main": {
                              "temp": 299.65,
                              "temp_min": 297.594,
                              "temp_max": 299.65,
                              "pressure": 1023.27,
                              "sea_level": 1024.75,
                              "grnd_level": 1023.27,
                              "humidity": 77,
                              "temp_kf": 2.06
                          },
                          "weather": [
                              {
                                  "id": 803,
                                  "main": "Clouds",
                                  "description": "broken clouds",
                                  "icon": "04d"
                              }
                          ],
                          "clouds": {
                              "all": 64
                          },
                          "wind": {
                              "speed": 5.71,
                              "deg": 110.5
                          },
                          "sys": {
                              "pod": "d"
                          },
                          "dt_txt": "2015-01-07 21:00:00"
                      },
                      {
                          "dt": 1420675200,
                          "main": {
                              "temp": 297.12,
                              "temp_min": 295.184,
                              "temp_max": 297.12,
                              "pressure": 1024.64,
                              "sea_level": 1026.01,
                              "grnd_level": 1024.64,
                              "humidity": 80,
                              "temp_kf": 1.94
                          },
                          "weather": [
                              {
                                  "id": 803,
                                  "main": "Clouds",
                                  "description": "broken clouds",
                                  "icon": "04n"
                              }
                          ],
                          "clouds": {
                              "all": 68
                          },
                          "wind": {
                              "speed": 5.35,
                              "deg": 108.001
                          },
                          "sys": {
                              "pod": "n"
                          },
                          "dt_txt": "2015-01-08 00:00:00"
                      },
                      {
                          "dt": 1420686000,
                          "main": {
                              "temp": 296.22,
                              "temp_min": 294.401,
                              "temp_max": 296.22,
                              "pressure": 1025.25,
                              "sea_level": 1026.73,
                              "grnd_level": 1025.25,
                              "humidity": 85,
                              "temp_kf": 1.81
                          },
                          "weather": [
                              {
                                  "id": 804,
                                  "main": "Clouds",
                                  "description": "overcast clouds",
                                  "icon": "04n"
                              }
                          ],
                          "clouds": {
                              "all": 88
                          },
                          "wind": {
                              "speed": 5.22,
                              "deg": 100.5
                          },
                          "sys": {
                              "pod": "n"
                          },
                          "dt_txt": "2015-01-08 03:00:00"
                      },
                      {
                          "dt": 1420696800,
                          "main": {
                              "temp": 297.01,
                              "temp_min": 295.321,
                              "temp_max": 297.01,
                              "pressure": 1024.92,
                              "sea_level": 1026.46,
                              "grnd_level": 1024.92,
                              "humidity": 99,
                              "temp_kf": 1.69
                          },
                          "weather": [
                              {
                                  "id": 502,
                                  "main": "Rain",
                                  "description": "heavy intensity rain",
                                  "icon": "10n"
                              }
                          ],
                          "clouds": {
                              "all": 92
                          },
                          "wind": {
                              "speed": 4.36,
                              "deg": 112.509
                          },
                          "rain": {
                              "3h": 33.75
                          },
                          "sys": {
                              "pod": "n"
                          },
                          "dt_txt": "2015-01-08 06:00:00"
                      },
                      {
                          "dt": 1420707600,
                          "main": {
                              "temp": 296.74,
                              "temp_min": 295.165,
                              "temp_max": 296.74,
                              "pressure": 1025.65,
                              "sea_level": 1026.99,
                              "grnd_level": 1025.65,
                              "humidity": 98,
                              "temp_kf": 1.57
                          },
                          "weather": [
                              {
                                  "id": 802,
                                  "main": "Clouds",
                                  "description": "scattered clouds",
                                  "icon": "03d"
                              }
                          ],
                          "clouds": {
                              "all": 36
                          },
                          "wind": {
                              "speed": 4.86,
                              "deg": 110.502
                          },
                          "rain": {
                              "3h": 0
                          },
                          "sys": {
                              "pod": "d"
                          },
                          "dt_txt": "2015-01-08 09:00:00"
                      },
                      {
                          "dt": 1420718400,
                          "main": {
                              "temp": 298.07,
                              "temp_min": 296.621,
                              "temp_max": 298.07,
                              "pressure": 1026.57,
                              "sea_level": 1028.04,
                              "grnd_level": 1026.57,
                              "humidity": 96,
                              "temp_kf": 1.45
                          },
                          "weather": [
                              {
                                  "id": 803,
                                  "main": "Clouds",
                                  "description": "broken clouds",
                                  "icon": "04d"
                              }
                          ],
                          "clouds": {
                              "all": 76
                          },
                          "wind": {
                              "speed": 6.21,
                              "deg": 87.5015
                          },
                          "rain": {
                              "3h": 0
                          },
                          "sys": {
                              "pod": "d"
                          },
                          "dt_txt": "2015-01-08 12:00:00"
                      },
                      {
                          "dt": 1420729200,
                          "main": {
                              "temp": 300.17,
                              "temp_min": 298.844,
                              "temp_max": 300.17,
                              "pressure": 1026.39,
                              "sea_level": 1027.75,
                              "grnd_level": 1026.39,
                              "humidity": 89,
                              "temp_kf": 1.33
                          },
                          "weather": [
                              {
                                  "id": 800,
                                  "main": "Clear",
                                  "description": "sky is clear",
                                  "icon": "01d"
                              }
                          ],
                          "clouds": {
                              "all": 0
                          },
                          "wind": {
                              "speed": 6.65,
                              "deg": 73.0039
                          },
                          "rain": {
                              "3h": 0
                          },
                          "sys": {
                              "pod": "d"
                          },
                          "dt_txt": "2015-01-08 15:00:00"
                      },
                      {
                          "dt": 1420740000,
                          "main": {
                              "temp": 301.68,
                              "temp_min": 300.473,
                              "temp_max": 301.68,
                              "pressure": 1024.23,
                              "sea_level": 1025.64,
                              "grnd_level": 1024.23,
                              "humidity": 78,
                              "temp_kf": 1.21
                          },
                          "weather": [
                              {
                                  "id": 800,
                                  "main": "Clear",
                                  "description": "sky is clear",
                                  "icon": "01d"
                              }
                          ],
                          "clouds": {
                              "all": 0
                          },
                          "wind": {
                              "speed": 6.61,
                              "deg": 72.0047
                          },
                          "rain": {
                              "3h": 0
                          },
                          "sys": {
                              "pod": "d"
                          },
                          "dt_txt": "2015-01-08 18:00:00"
                      },
                      {
                          "dt": 1420750800,
                          "main": {
                              "temp": 302.02,
                              "temp_min": 300.934,
                              "temp_max": 302.02,
                              "pressure": 1022.65,
                              "sea_level": 1023.95,
                              "grnd_level": 1022.65,
                              "humidity": 70,
                              "temp_kf": 1.09
                          },
                          "weather": [
                              {
                                  "id": 800,
                                  "main": "Clear",
                                  "description": "sky is clear",
                                  "icon": "01d"
                              }
                          ],
                          "clouds": {
                              "all": 0
                          },
                          "wind": {
                              "speed": 6.71,
                              "deg": 64.5003
                          },
                          "rain": {
                              "3h": 0
                          },
                          "sys": {
                              "pod": "d"
                          },
                          "dt_txt": "2015-01-08 21:00:00"
                      },
                      {
                          "dt": 1420761600,
                          "main": {
                              "temp": 299.8,
                              "temp_min": 298.831,
                              "temp_max": 299.8,
                              "pressure": 1022.35,
                              "sea_level": 1023.78,
                              "grnd_level": 1022.35,
                              "humidity": 74,
                              "temp_kf": 0.97
                          },
                          "weather": [
                              {
                                  "id": 800,
                                  "main": "Clear",
                                  "description": "sky is clear",
                                  "icon": "01n"
                              }
                          ],
                          "clouds": {
                              "all": 0
                          },
                          "wind": {
                              "speed": 5.46,
                              "deg": 45.0003
                          },
                          "rain": {
                              "3h": 0
                          },
                          "sys": {
                              "pod": "n"
                          },
                          "dt_txt": "2015-01-09 00:00:00"
                      },
                      {
                          "dt": 1420772400,
                          "main": {
                              "temp": 298.25,
                              "temp_min": 297.407,
                              "temp_max": 298.25,
                              "pressure": 1021.96,
                              "sea_level": 1023.42,
                              "grnd_level": 1021.96,
                              "humidity": 82,
                              "temp_kf": 0.85
                          },
                          "weather": [
                              {
                                  "id": 800,
                                  "main": "Clear",
                                  "description": "sky is clear",
                                  "icon": "02n"
                              }
                          ],
                          "clouds": {
                              "all": 8
                          },
                          "wind": {
                              "speed": 5.91,
                              "deg": 36.5023
                          },
                          "rain": {
                              "3h": 0
                          },
                          "sys": {
                              "pod": "n"
                          },
                          "dt_txt": "2015-01-09 03:00:00"
                      },
                      {
                          "dt": 1420783200,
                          "main": {
                              "temp": 296.88,
                              "temp_min": 296.159,
                              "temp_max": 296.88,
                              "pressure": 1020.33,
                              "sea_level": 1021.86,
                              "grnd_level": 1020.33,
                              "humidity": 90,
                              "temp_kf": 0.73
                          },
                          "weather": [
                              {
                                  "id": 800,
                                  "main": "Clear",
                                  "description": "sky is clear",
                                  "icon": "01n"
                              }
                          ],
                          "clouds": {
                              "all": 0
                          },
                          "wind": {
                              "speed": 5.72,
                              "deg": 29.5002
                          },
                          "rain": {
                              "3h": 0
                          },
                          "sys": {
                              "pod": "n"
                          },
                          "dt_txt": "2015-01-09 06:00:00"
                      },
                      {
                          "dt": 1420794000,
                          "main": {
                              "temp": 296.21,
                              "temp_min": 295.608,
                              "temp_max": 296.21,
                              "pressure": 1019.67,
                              "sea_level": 1020.98,
                              "grnd_level": 1019.67,
                              "humidity": 94,
                              "temp_kf": 0.6
                          },
                          "weather": [
                              {
                                  "id": 500,
                                  "main": "Rain",
                                  "description": "light rain",
                                  "icon": "10d"
                              }
                          ],
                          "clouds": {
                              "all": 92
                          },
                          "wind": {
                              "speed": 5.45,
                              "deg": 27.006
                          },
                          "rain": {
                              "3h": 2
                          },
                          "sys": {
                              "pod": "d"
                          },
                          "dt_txt": "2015-01-09 09:00:00"
                      },
                      {
                          "dt": 1420804800,
                          "main": {
                              "temp": 296.75,
                              "temp_min": 296.271,
                              "temp_max": 296.75,
                              "pressure": 1018.68,
                              "sea_level": 1020.03,
                              "grnd_level": 1018.68,
                              "humidity": 95,
                              "temp_kf": 0.48
                          },
                          "weather": [
                              {
                                  "id": 804,
                                  "main": "Clouds",
                                  "description": "overcast clouds",
                                  "icon": "04d"
                              }
                          ],
                          "clouds": {
                              "all": 92
                          },
                          "wind": {
                              "speed": 4.57,
                              "deg": 31.0005
                          },
                          "rain": {
                              "3h": 0
                          },
                          "sys": {
                              "pod": "d"
                          },
                          "dt_txt": "2015-01-09 12:00:00"
                      },
                      {
                          "dt": 1420815600,
                          "main": {
                              "temp": 297.77,
                              "temp_min": 297.411,
                              "temp_max": 297.77,
                              "pressure": 1016.91,
                              "sea_level": 1018.44,
                              "grnd_level": 1016.91,
                              "humidity": 92,
                              "temp_kf": 0.36
                          },
                          "weather": [
                              {
                                  "id": 804,
                                  "main": "Clouds",
                                  "description": "overcast clouds",
                                  "icon": "04d"
                              }
                          ],
                          "clouds": {
                              "all": 92
                          },
                          "wind": {
                              "speed": 4.37,
                              "deg": 15.5042
                          },
                          "rain": {
                              "3h": 0
                          },
                          "sys": {
                              "pod": "d"
                          },
                          "dt_txt": "2015-01-09 15:00:00"
                      },
                      {
                          "dt": 1420826400,
                          "main": {
                              "temp": 299.79,
                              "temp_min": 299.552,
                              "temp_max": 299.79,
                              "pressure": 1015.14,
                              "sea_level": 1016.55,
                              "grnd_level": 1015.14,
                              "humidity": 91,
                              "temp_kf": 0.24
                          },
                          "weather": [
                              {
                                  "id": 804,
                                  "main": "Clouds",
                                  "description": "overcast clouds",
                                  "icon": "04d"
                              }
                          ],
                          "clouds": {
                              "all": 88
                          },
                          "wind": {
                              "speed": 2.71,
                              "deg": 327.006
                          },
                          "rain": {
                              "3h": 0
                          },
                          "sys": {
                              "pod": "d"
                          },
                          "dt_txt": "2015-01-09 18:00:00"
                      },
                      {
                          "dt": 1420837200,
                          "main": {
                              "temp": 298.54,
                              "temp_min": 298.417,
                              "temp_max": 298.54,
                              "pressure": 1014.08,
                              "sea_level": 1015.44,
                              "grnd_level": 1014.08,
                              "humidity": 92,
                              "temp_kf": 0.12
                          },
                          "weather": [
                              {
                                  "id": 803,
                                  "main": "Clouds",
                                  "description": "broken clouds",
                                  "icon": "04d"
                              }
                          ],
                          "clouds": {
                              "all": 76
                          },
                          "wind": {
                              "speed": 2.66,
                              "deg": 249.003
                          },
                          "rain": {
                              "3h": 0
                          },
                          "sys": {
                              "pod": "d"
                          },
                          "dt_txt": "2015-01-09 21:00:00"
                      },
                      {
                          "dt": 1420848000,
                          "main": {
                              "temp": 298.393,
                              "temp_min": 298.393,
                              "temp_max": 298.393,
                              "pressure": 1015.62,
                              "sea_level": 1017.06,
                              "grnd_level": 1015.62,
                              "humidity": 86
                          },
                          "weather": [
                              {
                                  "id": 802,
                                  "main": "Clouds",
                                  "description": "scattered clouds",
                                  "icon": "03n"
                              }
                          ],
                          "clouds": {
                              "all": 44
                          },
                          "wind": {
                              "speed": 3.85,
                              "deg": 250.01
                          },
                          "rain": {
                              "3h": 0
                          },
                          "sys": {
                              "pod": "n"
                          },
                          "dt_txt": "2015-01-10 00:00:00"
                      },
                      {
                          "dt": 1420858800,
                          "main": {
                              "temp": 296.933,
                              "temp_min": 296.933,
                              "temp_max": 296.933,
                              "pressure": 1016.89,
                              "sea_level": 1018.42,
                              "grnd_level": 1016.89,
                              "humidity": 91
                          },
                          "weather": [
                              {
                                  "id": 800,
                                  "main": "Clear",
                                  "description": "sky is clear",
                                  "icon": "01n"
                              }
                          ],
                          "clouds": {
                              "all": 0
                          },
                          "wind": {
                              "speed": 4.57,
                              "deg": 258.503
                          },
                          "rain": {
                              "3h": 0
                          },
                          "sys": {
                              "pod": "n"
                          },
                          "dt_txt": "2015-01-10 03:00:00"
                      },
                      {
                          "dt": 1420869600,
                          "main": {
                              "temp": 295.74,
                              "temp_min": 295.74,
                              "temp_max": 295.74,
                              "pressure": 1016.81,
                              "sea_level": 1018.21,
                              "grnd_level": 1016.81,
                              "humidity": 94
                          },
                          "weather": [
                              {
                                  "id": 800,
                                  "main": "Clear",
                                  "description": "sky is clear",
                                  "icon": "01n"
                              }
                          ],
                          "clouds": {
                              "all": 0
                          },
                          "wind": {
                              "speed": 4.36,
                              "deg": 263
                          },
                          "rain": {
                              "3h": 0
                          },
                          "sys": {
                              "pod": "n"
                          },
                          "dt_txt": "2015-01-10 06:00:00"
                      },
                      {
                          "dt": 1420880400,
                          "main": {
                              "temp": 293.649,
                              "temp_min": 293.649,
                              "temp_max": 293.649,
                              "pressure": 1018.61,
                              "sea_level": 1020.02,
                              "grnd_level": 1018.61,
                              "humidity": 89
                          },
                          "weather": [
                              {
                                  "id": 800,
                                  "main": "Clear",
                                  "description": "sky is clear",
                                  "icon": "01d"
                              }
                          ],
                          "clouds": {
                              "all": 0
                          },
                          "wind": {
                              "speed": 4.86,
                              "deg": 236.002
                          },
                          "rain": {
                              "3h": 0
                          },
                          "sys": {
                              "pod": "d"
                          },
                          "dt_txt": "2015-01-10 09:00:00"
                      },
                      {
                          "dt": 1420891200,
                          "main": {
                              "temp": 297.064,
                              "temp_min": 297.064,
                              "temp_max": 297.064,
                              "pressure": 1020.74,
                              "sea_level": 1022.14,
                              "grnd_level": 1020.74,
                              "humidity": 89
                          },
                          "weather": [
                              {
                                  "id": 800,
                                  "main": "Clear",
                                  "description": "sky is clear",
                                  "icon": "01d"
                              }
                          ],
                          "clouds": {
                              "all": 0
                          },
                          "wind": {
                              "speed": 3.57,
                              "deg": 197.502
                          },
                          "rain": {
                              "3h": 0
                          },
                          "sys": {
                              "pod": "d"
                          },
                          "dt_txt": "2015-01-10 12:00:00"
                      },
                      {
                          "dt": 1420902000,
                          "main": {
                              "temp": 301.077,
                              "temp_min": 301.077,
                              "temp_max": 301.077,
                              "pressure": 1021.65,
                              "sea_level": 1023.1,
                              "grnd_level": 1021.65,
                              "humidity": 82
                          },
                          "weather": [
                              {
                                  "id": 800,
                                  "main": "Clear",
                                  "description": "sky is clear",
                                  "icon": "01d"
                              }
                          ],
                          "clouds": {
                              "all": 0
                          },
                          "wind": {
                              "speed": 2.17,
                              "deg": 241.5
                          },
                          "rain": {
                              "3h": 0
                          },
                          "sys": {
                              "pod": "d"
                          },
                          "dt_txt": "2015-01-10 15:00:00"
                      },
                      {
                          "dt": 1420912800,
                          "main": {
                              "temp": 303.523,
                              "temp_min": 303.523,
                              "temp_max": 303.523,
                              "pressure": 1020.95,
                              "sea_level": 1022.45,
                              "grnd_level": 1020.95,
                              "humidity": 63
                          },
                          "weather": [
                              {
                                  "id": 800,
                                  "main": "Clear",
                                  "description": "sky is clear",
                                  "icon": "01d"
                              }
                          ],
                          "clouds": {
                              "all": 0
                          },
                          "wind": {
                              "speed": 2.4,
                              "deg": 235.003
                          },
                          "rain": {
                              "3h": 0
                          },
                          "sys": {
                              "pod": "d"
                          },
                          "dt_txt": "2015-01-10 18:00:00"
                      },
                      {
                          "dt": 1420923600,
                          "main": {
                              "temp": 303.61,
                              "temp_min": 303.61,
                              "temp_max": 303.61,
                              "pressure": 1019.78,
                              "sea_level": 1021.4,
                              "grnd_level": 1019.78,
                              "humidity": 56
                          },
                          "weather": [
                              {
                                  "id": 800,
                                  "main": "Clear",
                                  "description": "sky is clear",
                                  "icon": "01d"
                              }
                          ],
                          "clouds": {
                              "all": 0
                          },
                          "wind": {
                              "speed": 2.31,
                              "deg": 249.503
                          },
                          "rain": {
                              "3h": 0
                          },
                          "sys": {
                              "pod": "d"
                          },
                          "dt_txt": "2015-01-10 21:00:00"
                      },
                      {
                          "dt": 1420934400,
                          "main": {
                              "temp": 298.9,
                              "temp_min": 298.9,
                              "temp_max": 298.9,
                              "pressure": 1021.07,
                              "sea_level": 1022.56,
                              "grnd_level": 1021.07,
                              "humidity": 63
                          },
                          "weather": [
                              {
                                  "id": 800,
                                  "main": "Clear",
                                  "description": "sky is clear",
                                  "icon": "01n"
                              }
                          ],
                          "clouds": {
                              "all": 0
                          },
                          "wind": {
                              "speed": 2.23,
                              "deg": 292.506
                          },
                          "rain": {
                              "3h": 0
                          },
                          "sys": {
                              "pod": "n"
                          },
                          "dt_txt": "2015-01-11 00:00:00"
                      }
                  ]
                }